* {
  margin: 10px auto;
  text-align: center;
  font-family: "durango_western_erodedregular", trebuchet ms, arial;
  user-select: none;
}

.clickable, .key, .button, .incrementer {
  transition: opacity 180ms;
}

.clickable:hover, .key:hover, .button:hover, .incrementer:hover {
  opacity: 0.7;
}

#A {
  grid-area: A;
}

#B {
  grid-area: B;
}

#C {
  grid-area: C;
}

#D {
  grid-area: D;
}

#E {
  grid-area: E;
}

#F {
  grid-area: F;
}

#G {
  grid-area: G;
}

#H {
  grid-area: H;
}

#I {
  grid-area: I;
}

#J {
  grid-area: J;
}

#K {
  grid-area: K;
}

#L {
  grid-area: L;
}

#M {
  grid-area: M;
}

#N {
  grid-area: N;
}

#O {
  grid-area: O;
}

#P {
  grid-area: P;
}

#Q {
  grid-area: Q;
}

#R {
  grid-area: R;
}

#S {
  grid-area: S;
}

#T {
  grid-area: T;
}

#Y {
  grid-area: Y;
}

#U {
  grid-area: U;
}

#V {
  grid-area: V;
}

#W {
  grid-area: W;
}

#X {
  grid-area: X;
}

#Y {
  grid-area: Y;
}

#Z {
  grid-area: Z;
}

#start {
  grid-area: start;
}

body {
  background-image: url("https://i.ibb.co/4RPHdZC/pexels-photo-172278.jpg");
  background-size: cover;
  min-width: 360px;
  max-width: 960px;
}

header {
  display: flex;
}

#title {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(76, 39, 25, 0.75);
  padding: 6px 12px;
  margin-left: 18px;
  width: min-content;
  transform: scale(1.3, 1);
  transform-origin: top left;
}

h1 {
  font-size: 56px;
  color: #EDE580;
  letter-spacing: 0.2em;
}

a {
  margin-right: 18px;
  height: 84px;
}

#james-hooper-logo {
  background-image: url("https://i.ibb.co/cC3GMB9/logo-large-white-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 180px;
}

#win-lose-screen {
  background-image: url("https://i.ibb.co/HxQtxDH/blank-wooden-sign-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
  grid-template-rows: repeat(4, 1fr) 56px;
  top: -12px;
  left: -95px;
  right: -95px;
  padding-top: 98px;
  width: 550px;
  height: 430px;
  transform-origin: top center;
  font-size: 42px;
  color: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

#result-display {
  margin-top: -6px;
}

h3 {
  display: inline;
  height: min-content;
  font-size: 32px;
}

#play-again {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: auto;
  max-width: 300px;
  font-size: 42px;
}

#scoreboard {
  width: 70%;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.85);
}

#hangman-display {
  padding: 10px;
  width: min-content;
}

.hm-line {
  opacity: 1;
  fill-opacity: 0;
  stroke: black;
  stroke-width: 10;
  stroke-opacity: 1;
}

@keyframes swing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-3.95deg);
  }
}
#swing-body {
  transform-origin: 77.5% 3%;
  animation: 3800ms swing infinite cubic-bezier(0.42, 0, 0.58, 1);
}

#word {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(76, 39, 25, 0.75);
  padding: 10px;
  margin: auto;
  min-width: 280px;
  height: min-content;
  width: max-content;
  transform-origin: top left;
  font-size: 72px;
  color: #EDE580;
}

.letter {
  display: inline-block;
  margin: 4px;
  width: 70px;
  border-bottom: 8px solid #EDE580;
}

.letter-display {
  opacity: 0;
}

.found-letter {
  opacity: 1;
}

#keyboard {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(76, 39, 25, 0.75);
  display: grid;
  grid-template-areas: "Q Q . W W . E E . R R . T T . Y Y . U U . I I . O O . P P" ". A A . S S . D D . F F . G G . H H . J J . K K . L L . ." ". . Z Z . X X . C C . V V . B B . N N . M M . . . start start start start";
  grid-gap: 5px;
  padding: 20px;
  margin: 20px;
  min-height: 22vh;
  font-size: 24px;
}

.key, .button {
  background: rgba(203, 121, 58, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  border: thin solid #EDE580;
  border-radius: 5px;
  font-size: 28px;
  color: #EDE580;
  cursor: pointer;
}

.fade, .fade:hover {
  opacity: 0.4;
}

.start {
  background: #EDE580;
  color: rgba(76, 39, 25, 0.75);
}

#level-display {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(76, 39, 25, 0.75);
  display: flex;
  padding: 10px 20px;
  margin: 20px;
  font-size: 48px;
}

.incrementer {
  background: #EDE580;
  flex: 1;
  align-items: center;
  border-radius: 5px;
  font-size: 36px;
  color: rgba(76, 39, 25, 0.75);
  cursor: pointer;
}

#level {
  background: rgba(203, 121, 58, 0.45);
  flex: 1;
  margin: 10px;
  border-radius: 5px;
  color: #EDE580;
}

@media only screen and (max-width: 700px) {
  a {
    height: 96px;
  }
  a #james-hooper-logo {
    background-image: url("https://i.ibb.co/ssZnDk4/logo-small-deep-purple-white.png");
    background-position: top right;
    margin-top: 0;
    width: 100px;
  }
}
@media only screen and (max-width: 580px) {
  h1 {
    letter-spacing: 0.01em;
  }
}
@media only screen and (max-width: 490px) {
  h1 {
    font-size: 26px;
    letter-spacing: 0.025em;
  }

  a {
    height: 62px;
  }
  a #james-hooper-logo {
    width: 62px;
    height: 62px;
  }

  #word {
    min-height: min-content;
    font-size: 44px;
  }

  .letter {
    width: 20px;
  }

  #keyboard {
    grid-gap: 8px;
    grid-template-areas: "A B C D E F G H" "I J K L M N O P" "Q R S T U V W X" "start start start start start start Y Z";
  }

  #level-display {
    margin: 20px;
    width: auto;
  }
}
