@font-face {
    font-family: 'durango_western_erodedregular';
    src: url('durango_western_eroded_demo-webfont.woff2') format('woff2'),
         url('durango_western_eroded_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}